/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.one{
    background-color: red;
}

.two{
    background-color: blueviolet;
}
.three{
    background-color: greenyellow;
}
.four{
    background-color: navy;
} */

html{
    scroll-behavior: smooth;
}

:root{
    --grayishBlue:hsl(208, 11%, 55%);
    --transitionSpeed:600ms;
    font-size: 18px;
    box-sizing: border-box;
    overflow-x: hidden;
    --moderateViolet:rgb(108,99,255);
    --darkGrayishBlue:rgb(47,46,65);
    --darkBlakishBlue:rgb(63,61,86);
    --white:hsl(0, 0%, 100%);
    --lightGray:hsl(0, 0%, 81%);
    --lightGrayishBlue:hsl(210, 46%, 95%);
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 1440px;
    margin: 0 auto;
    border-right: 2px solid rgba(107, 99, 255, 0.267);
    border-left: 2px solid rgba(107, 99, 255, 0.267);
}

#top{
    padding: 1rem 3rem 3rem 3rem;
    display: grid;
    grid-template-areas: 
    'header header header'
    'intro intro intro';
    position: relative;
}

.main::before{
    content: "";
    background-color: rgb(226,224,253);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////// Header has been designed here/////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////// */

#header{
    position:fixed;
    top: 0;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    flex-wrap: wrap;
    /* border: 2px solid black; */
    max-width: 1440px;
    width: 100%;
    transition: 0.6s;
}

.sticky{
  background-color: rgba(107, 99, 255, 0.267);
}
.sticky img{
    display: none;
}

header img{
    position: relative;
    width: 15rem;
    filter: sepia(200%) hue-rotate(199deg);
}

header img:hover{
   cursor: pointer;
}

#tryitfree{
    display: flex;
    justify-content: center;
    border: none;
    background-color: white;   
    padding: 0.5rem 0;
    border-radius: 2.5rem;
    box-shadow:0 0 10px rgb(206, 197, 197);
    width: 15rem;
    font-size: 0.7rem;
    white-space: nowrap;
    transition: transform scale var(--transitionSpeed);
    margin: 1rem 0rem;  
    justify-self: start;
}

#tryitfree:hover{
    color: gray;
    transform: translate(-1px,-1px);
    transform: scale(1.05);
    cursor:pointer;
}

button span{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// Navbar Styling section ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////*/


.navbar{
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    position: relative;
}

.navbar-nav{
    list-style: none;
    display: flex;
    padding-left: 0;
    /* width: 70%; */
    justify-content: space-between;
    margin: 0;
    position: relative;
}

.navbar-nav .navItem a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;
    color:  black;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.navItem{
    padding: 1rem;
    margin:0.1rem;
    position: relative;
}

.navItem a:hover{
    color: var(--moderateViolet);
    text-shadow: 0px 0px 10px white;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////// Hamburger Icon /////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////*/

.hamburgerIcon{
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////Intro Container has been designed here/////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////// */

.introContainer{
    grid-area: intro;
    display: grid;
    grid-template-areas:
    'main main image image image'
    'main main image image image';
    font-family: 'Poppins', sans-serif;
    margin-top: 5rem;
}

.introContent{
    /* border: 2px solid black; */
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 1.3rem;
}

.introContent h2{
    font-size: 2rem;
}

.introContainer p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.getStarted{
    margin-top: 1.2rem;
    display: flex;
     justify-content: center;
     align-items: center;
     border: none;
     background-color: var(--moderateViolet); 
     padding: 0.7rem 1rem;
     border-radius: 2.5rem;
     box-shadow:0 0 10px rgb(206, 197, 197);
     height: 2.7rem;
     width: 15rem;
     font-size: .8rem;
     white-space: nowrap;
     font-family: 'Open Sans', sans-serif;
     color: var(--paleCyan);
     font-weight: 600;
     transition: transform scale var(--transitionSpeed);  
     justify-self: start;
}

.getStarted:hover{
   transform: translate(-1px,-1px);
   transform: scale(1.05);
   cursor: pointer;
}

.image{
    grid-area: image;
    /* border: 2px solid black; */
}

.image img{
    padding: 3rem;
    width: 40rem;
    /* filter: grayscale(100%); */
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////Mid Section start here ////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

#middle{
   margin-top: 3rem;
   margin-bottom: 3rem;
}

.contentContainers{
    /* border: 2px solid black; */
    display: grid;
    grid-template-areas: 
    'writing writing image';
    margin: 2.4rem 6.2rem;
    border-radius: 1.5rem;
    box-shadow:0 0 12px rgb(206, 197, 197);
}

.contentContainers h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    color: var(--darkCyan);
}

.contentContainers p{
    font-family: 'Open Sans','sans-serif';
    color: var(--grayishBlue);
}

#rightAlign{
    grid-template-areas: 
    'image writing writing';
}

.illustrations{
    grid-area: image;
    /* border: 2px solid black; */
    padding: 2rem 3rem;
    margin: 0 0 0 0;
}

.illustrations img{
    width: 21rem;
    /* filter: grayscale(100%); */
}

.writing{
    grid-area: writing;
    /* border: 2px solid black; */
    box-sizing: border-box;
    padding: 3rem 2rem;
    margin: 0rem 3rem 0rem 4rem;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////Invitation Section goes here///////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////*/

.invi-container{
    align-self: center;
    position:relative;
    z-index: 1;
}

#invitation{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: 11rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow:0 0 10px rgba(46, 46, 46, 0.514);
}

#invitation h2{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    margin-bottom: 0;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////// Testimonial Section ///////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#testimonialSection{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: rgb(226,224,253);
    padding: 6rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.sectionHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////The individual containers with class names //////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/

.testimonials{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
    grid-auto-rows: auto;
    gap: 2rem;
}

.container{
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 1.4rem;
  color: var(--white);
  box-shadow: 10px 10px 20px rgb(103 96 96 / 30%)
}

/* //////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////The individual details section ///////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////*/

.intro img{
  width: 2.1rem;
  border-radius: 50%;
  padding: 0;
  margin-bottom: -5px;
  align-self: flex-start;
  /* border: 2px solid black; */
}

.description{
  display: inline-block;
  flex-direction: row;
  width: 163px;
  margin: 0 1rem;
  padding: 0.2rem;
}

.description span{
  color: inherit; 
}

.description .name{
  font-size: 0.8rem;
  opacity: 100%;
}

.description span{
  opacity: 70%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////The quotes section ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////*/

.quotes h3{
   font-size: 1.33rem;
   font-weight: 400;
}
.quotes p{
  color: inherit;
  opacity: 70%;
  font-size: 0.8rem;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////Styling the individual sections ///////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////*/

#clifford{
  grid-column: span 2/auto;
  background-repeat: no-repeat;
  background-position-x:75%;
  background-color:var(--moderateViolet);
}

#clifford .intro img{
  border: 2px solid rgb(199, 141, 199);
}

#walters{
  background-color: var(--darkGrayishBlue);
}

#abrams{
  background-color: var(--darkBlakishBlue);
}

#abrams .intro img{
  border: 2px solid rgb(199, 141, 199);
}

#abrams{
  grid-column: span 2/auto;
}

#whittles{
  grid-row: span 2/auto;
  color: var(--darkGrayishBlue);
  background-color: var(--white);
}
#whittles .quotes p{
  color: var(--darkGrayishBlue);
}
#harmon{
  color: var(--darkGrayishBlue);
  background-color: var(--white);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////// Our Team section ///////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/   

    .card{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 5rem;
      gap: 2rem;
    }
    
    .item {
      width: 19rem;
      font-family: 'Open Sans','sans-serif';
      color: white;
      box-shadow: 0px 10px 10px rgb(103 96 96 / 30%);
      text-align: center;
    }

    /* Styling the content inside the items */
    .teamDescription h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: -1rem;
      }
      
      .teamDescription {
        margin: 3rem 3rem;
        color: var(--headings);
        font-size: 0.99rem;
      }
  
      .teamDescription p{
        color: hsla(0, 0%, 100%, 0.75);
        line-height: 2.8ch;
        font-weight: 400;
      }

      .teamDescription img{
          border-radius: 50%;
          width: 6rem;
          border: 2px solid rgb(199, 141, 199);
      }
      
      /* The individual colors and border radius */
      #sedan {
        background-color: rgb(166, 160, 252);
        border-radius: 10px;
      }
  
      #suv {
        background-color: rgb(108,99,255);
        border-radius: 10px;
      }
  
      #luxury {
        background-color: rgb(63,61,86);
        border-radius: 10px;
      }
  
      /* Styling the learn more button */
      .btn {
        border: none;
        background-color: transparent;
      }
      .btn .social{
          padding: 1rem 0rem;
      }

      #suraj .social .ionicon:hover{
        fill: rgb(63,61,86);
        border-color: rgb(63,61,86);
        cursor: pointer;
      }
      #pawan .social .ionicon:hover{
        fill: rgb(108,99,255);
        border-color: rgb(108,99,255);
        cursor: pointer;
      }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////Last Section starts here //////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.lastSection{
  border: 2px solid black;
  display: grid;
  gap: 0.2rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit,minmax(33%,1fr));
  margin-top: -4rem;
  color: var(--paleCyan);
  font-family: 'Open Sans','sans-serif';
  background-color: var(--darkGrayishBlue);
  padding-left: 12rem;
  overflow-y: hidden;
}

.lastSection h2{
   display:none;
}

.logo {
    grid-column: span 3 / auto;
    margin: 0 0 0 0;
    padding-top: 7rem;
    padding-left: 1rem;
}

.logo img{
    width : 18rem;
    filter: invert(100%) brightness(100%);
}

.info{
    display: grid;
    /* border: 2px solid black; */
    /* padding-left: 1rem; */
}

.info svg{
    width: 1rem;
    min-width: 1rem;
}

.info li{
    list-style: none;
    margin:0.5rem 0rem;
    display: flex;
}

.info .infoText{
    display: block;
    width: 15rem;
    margin: 0rem 1rem;
}

.navlist ul{
    padding-left: 0.8rem;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
}

.navlist li{
   list-style:none;
   margin: 0.5rem 0;
}

.navlist a{
    text-decoration: none;
    color: white;
}

.navlist a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.social{
    /* border: 2px solid black; */
    padding: 2rem 0 2rem 0;
}

.social a{
    text-decoration: none;
}

.social .ionicon{
    fill: white;
    width: 1rem;
    padding: 0.4rem;
    margin: 1px 5px;
    border: 1px solid white;
    border-radius: 50%;
}

.social .ionicon:hover{
    fill: var(--moderateViolet);
    border-color: var(--moderateViolet);
    cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////For Tablet Screens ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width:1275px) {
    #harmon{
        grid-column: span 2 / auto;
      }
    #header{
       width: 88%;
    }
}

@media only screen and (max-width:1275px){
    
    #header{
        width: 90%;
        padding: 1rem;
    }

    .sticky img{
        display: block;
    }
    .navbar{
        justify-content: center;
    }
    .main::before{
        content: "";
        background-color: rgb(226,224,253);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    .introContainer{
        grid-template-areas: 
        'main main main'
        'image image image';
        text-align: center;
    }

    .introContent{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .introContent h2{
        font-size: 1.5rem;
    }

    .contentContainers,#rightAlign{
        grid-template-areas:
        'image image image'
        'writing writing writing';
        text-align: center;
    }

    #invitation{
        width: 22rem;
        height: 10rem;
    }
    
    #invitation h2{
        font-size: 1.1rem;
     }

     .lastSection{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .social{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
}
  /*////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////For midrange Screens ////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////*/
  
    @media only screen and (max-width:1070px){
    
    #top{
         padding: 0;
    }
    #header{
        justify-content: space-between;
        width: 92%;
        padding: 2rem;
    }

    .hamburgerIcon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header img{
        width: 12rem;
    }

    .navbar{
        display: none;
        width: 100%;
    }

    .show{
        display: inline-block;
    }

    .show ul{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.767);
    }
    .show .navbar-nav .navItem a{
         justify-content: center;
         text-align: left;
    }
    
    .introContent{
        padding: 1.2rem;
    }
    .introContainer img{
        padding: 0;
        width: 18rem;
    }
    #invitation{
        width: 18rem;
        height: 10rem;
    }
    
    #invitation h2{
        font-size: 1rem;
     }
    .contentContainers{
        margin-right:  1rem;
        margin-left: 1rem;
    }
    .lastSection{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
    }
    .testimonials{
        display: flex;
        flex-direction: column;
    }
    #testimonialSection{
        margin-bottom: 4rem;
        padding: 1.2rem;
    }
}


    /*////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////For small Screens ////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////*/

    @media only screen and (max-width:600px) {
        #header{
            padding: 0.5rem;
        }
        #top{
            padding: 5px;
            margin: 0;
        }
        .introContent{
            padding: 3rem 0.6rem;
        }
        .introContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    
        .contentContainers{
            margin-right:  1rem;
            margin-left: 1rem;
        }
        .writing{
            padding: -0.2px;
            margin: 0;
        }
        .illustrations img{
            width: 12rem;
        }
        .lastSection{
            display: flex;
            flex-direction: column;
        }
        
    }